#{extends 'layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}

<script type="text/javascript" src="@{'/public/javascripts/editor.js'}"></script>






<div id="crudBlank" class="${type.name}">

    <h2 id="crudBlankTitle">&{'crud.blank.title', type.modelName}</h2>

    <div class="objectForm">
    #{form action:@create(), enctype:'multipart/form-data', class:'formulario'}
    
        #{formulario}


        
         #{/ formulario}
         
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
            <input type="submit" name="_saveAndAddAnother" value="&{'crud.saveAndAddAnother', type.modelName}" />
        </p>
       
    #{/form}
    </div>

</div>