<script language="javascript">
	$(document).ready(function (){
		function mostrarImagen(input) {
			 if (input.files && input.files[0]) {
			  var reader = new FileReader();
			  reader.onload = function (e) {
			   $('#img_destino').attr('src', e.target.result);
			  }
			  reader.readAsDataURL(input.files[0]);
			 }
			}
			 
			$("#object_foto").change(function(){
			 mostrarImagen(this);
			});
	});
</script>

 <div class="row">
			<div class="col-lg-2">
	         	 <label for="object_foto">
		            &{'foto'} (opcional)
		        </label>
		     </div>
		       <div class="col-lg-10">
		       
		        <img  id="img_destino" height="100px" width="100px" >
		      
		        <input  id="object_foto" type="file" name="object.foto" style="margin-top:10px;">
		     </div>
		     <div class="col-lg-4">
		        <span class="crudHelp"> </span>
  	</div>
</div>
