<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon1.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
             
        <!-- TEMPLATE -->
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	   
	   <!-- Bootstrap Styles-->
	   <link href="@{'/public/assets/css/bootstrap.css'}" rel="stylesheet" media="screen"/>
	   <!-- FontAwesome Styles-->
	   <link href="@{'/public/assets/css/font-awesome.css'}" rel="stylesheet" media="screen" />
	   <!-- Morris Chart Styles-->
	   <link href="@{'/public/assets/js/morris/morris-0.4.3.min.css'}" rel="stylesheet" media="screen"/>
	   <!-- Custom Styles-->
	   <link href="@{'/public/assets/css/custom-styles.css'}" rel="stylesheet" media="screen" />
	   <!-- Google Fonts-->
	   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'  media="screen"/>
    	
    	<!-- Loading bar -->
    	<link href="@{'/public/stylesheets/progressbar.css'}" rel="stylesheet" media="screen"/>
    	
    
    </head>
    <body>
    
    
    
      <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand text" href="/"> <img src="@{'/public/images/favicon1.png'}" height="40px" width="40px" style="margin-top:-5px;">  Barrio ABC</a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Doe</strong>
                                    <span class="pull-right text-muted">
                                        <em>Today</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since an kwilnw...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since the...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">28% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100" style="width: 28%">
                                            <span class="sr-only">28% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">85% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                            <span class="sr-only">85% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        #{if conectado}
                        	${conectado}
                        #{/ if }
                        
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        
                        
                        #{if conectado}
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Configuracion</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Salir</a>
                        #{/ if}
                        #{else}
                        <li><a href="/login"><i class="fa fa-user fa-fw"></i> Ingresar</a>
                        </li>
                        #{/else}
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a class="active-menu" href="/admin"><i class="fa fa-desktop"></i> Administración General</a>
                    </li>
                   <li>
                        <a href="#"><i class="fa fa-users"></i> Socios<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                        	<li>
                                <a href="/socios/list"> <i class="fa fa-list-alt"></i> Nómina General</a>
                            </li>
                            
                            <li>
                                <a href="/socios/blank"><i class="fa fa-user">+</i> Registrar Socio</a>
                            </li>    
                        </ul>
                    </li>
					 
					<li>
                        <a href="#"><i class="fa fa-file-text-o"></i> Asistencias<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                        	<li>
                                <a href="#"> <i class="fa fa-gears"></i> Actividades</a>
                            </li>
                            
                            <li>
                                <a href="#"><i class="fa fa-eye"></i> Historial</a>
                            </li>    
                        </ul>
                    </li>
                    
                    
                    <li>
                        <a href="#"><i class="fa fa-credit-card"></i> Aportaciones<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                        	<li>
                                <a href="#"> <i class="fa fa-plus-circle"></i> Nueva Aportación</a>
                            </li>
                            
                            <li>
                                <a href="#"><i class="fa fa-dollar"></i> Recaudar Aportación</a>
                            </li>  
                            
                             <li>
                                <a href="#"><i class="fa fa-bar-chart-o"></i> Estado</a>
                            </li>  
                              
                        </ul>
                    </li>
                    
                    <li>
                        <a href="#"><i class="fa fa-archive"></i> Multas<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                        	<li>
                                <a href="#"> <i class="fa fa-plus"></i> Nueva Multa</a>
                            </li>
                            
                            <li>
                                <a href="#"><i class="fa fa-money"></i> Recaudar Multa</a>
                            </li>    
                            
                            <li>
                                <a href="#"><i class="fa fa-bar-chart-o"></i> Estado</a>
                            </li>  
                        </ul>
                    </li>
                    
                     <li>
                        <a href="#"><i class="fa fa-building-o"></i> Bienes</a>
                    </li>  
                    
                    <li>
                        <a href="#"><i class="fa fa-file-text"></i> Actas</a>
                    </li>  

                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
         <div id="page-wrapper">
            <div id="page-inner">
        
      
        
        
       		 #{doLayout /}
        
        
        <footer><p>Desarollado por: Universidad Técnica de Cotopaxi</p></footer>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        
        
        
   <!-- VISTA PREVIA DE LAS IMAGENES -->
   <script>
	$(document).ready(function (){
		
		function mostrarImagen(input) {
			 if (input.files && input.files[0]) {
			  var reader = new FileReader();
			  reader.onload = function (e) {
			   $('#img_destino').attr('src', e.target.result);
			  }
			  reader.readAsDataURL(input.files[0]);
			 }
			}
			 
			$("#object_foto").change(function(){
			 mostrarImagen(this);
			});
		
			$(".formulario").submit(function(){
				$('#cargando').modal('show'); 
			});
		
	});
</script>
   
   
   <!-- FIN VISTA PREVIA DE LAS IMAGENES -->
        
        
        
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="@{'/public/assets/js/jquery-1.10.2.js'}"></script>
    <!-- Bootstrap Js -->
    <script src="@{'/public/assets/js/bootstrap.min.js'}"></script>
    <!-- Metis Menu Js -->
    <script src="@{'/public/assets/js/jquery.metisMenu.js'}"></script>
    <!-- Morris Chart Js -->
    <script src="@{'/public/assets/js/morris/raphael-2.1.0.min.js'}"></script>
    <script src="@{'/public/assets/js/morris/morris.js'}"></script>
    <!-- Custom Js -->
    <script src="@{'/public/assets/js/custom-scripts.js'}"></script>
    
      <script src="@{'public/assets/js/bootstrap-modal.js'}"></script>
 
    <!-- VENTANA MODAL PARA CARGAR DATOS -->
    <div id="cargando" class="modal" style="display: none; ">
		<div class="container">
			<br><br>
			<div class="col-lg-4">
			</div>
			<div class="col-lg-4 well">
	            <div class="modal-header">
	              <h3>Un Momento Por Favor</h3>
	            </div>
	            <div class="modal-body">
	              <h4>Procesando Datos</h4>
	             <img alt="" src="@{'/public/images/cargando.gif'}" class="img-responsive">		        
	            </div>
	            <div class="modal-footer">
	             <p>Administraci&oacuten Barrial</p>
	            </div>
	        </div>
	        <div class="col-lg-4">
			</div>
	       </div>
</div>
    <!-- FIN MODAL PARA CARGAR DATOS -->


<!-- MOSTRAR PROGRESS BAR 
    <script src="@{'/public/javascripts/progressbar.js'}"></script>
 -->

    
    
    
        
    </body>
</html>
